@use '../../styles/shared';

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;

    max-width: 400px;
    height: 520px;

    border: 1px solid #cccccc;
    border-radius: 8px;

    a {
        color: shared.$primary-color;
    }
}

.thumbnail {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.content {
    padding: 1rem;

    &:last-child {
        padding-top: 0;
    }

    .overview {
        font-size: small;
        color: shared.$dimmed-color;
    }

    .popularity {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: bold;
    }

    .release-date {
        font-size: small;
        font-style: italic;

        @media screen and (min-width: shared.$min-tablet-width) and (max-width: shared.$max-tablet-width) {
            font-size: 16px;
        }
    }
}