@use '../../styles/shared';

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;

    border: 1px solid #cccccc;
    border-radius: 8px;

    a {
        color: shared.$primary-color;
    }
}

.thumbnail {
    max-height: 200px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    @media screen and (min-width: shared.$min-desktop-width) {
        max-height: 148px;
    }
}

.content {
    padding: 1rem;

    @media screen and (min-width: shared.$min-tablet-width) and (max-width: shared.$max-tablet-width) {
        font-size: 18px;
    }

    .overview {
        font-size: small;
        color: shared.$dimmed-color;

        @media screen and (min-width: shared.$min-tablet-width) and (max-width: shared.$max-tablet-width) {
            font-size: 16px;
        }
    }

    .popularity {
        margin-top: 0.5rem;
        font-weight: bold;
    }

    .release-date {
        font-size: small;
        font-style: italic;

        @media screen and (min-width: shared.$min-tablet-width) and (max-width: shared.$max-tablet-width) {
            font-size: 16px;
        }
    }
}