@use '../../styles/shared';

.movies-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;

    @media screen and (max-width: shared.$max-mobile-width) {
        max-width: 432px;
        gap: 0.5rem;
    }

    @media screen and (min-width: shared.$min-tablet-width) and (max-width: shared.$max-tablet-width) {
        max-width: 834px;
    }
}